<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd1c1c4b68.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="app">

        <div class="left">

            <div class="contact-list-header">

                <div class="user-image">
                    <img src="./assets/img/avatars/avatar_io.jpg" alt="">
                </div>
                <!-- /.user-image -->

                <div class="user-utilities">
                    <div>
                        <i class="fa-solid fa-circle-notch"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-message"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /.user-utilities -->
            </div>
            <!-- /.contact-list-header -->

            <div class="contact-list-utilities">

                <div class="notifications">

                    <div>
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div>
                        Ricevi notifiche di nuovi messaggi

                        <div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                </div>
                <!-- /.notifications -->

                <div class="search-chat">
                    <input type="text" v-model="searchUser" @keyup="searchUserName()"
                        placeholder="&#xf002;      Cerca o inizia una nuova chat">
                </div>
                <!-- /.search-chat -->
            </div>
            <!-- /.contact-list-utilities -->

            <div class="contact-list-contacts">

                <template v-for="(contact,index) in contacts">
                    <div class="contact" v-if="contact.visible === true" @click="displayChat(index)">

                        <div class="contact-image">
                            <img :src="contact.avatar" alt="">
                        </div>
                        <!-- /.contact-image -->

                        <div class="contact-info">
                            <div class="contact-name">
                                {{contact.name}}
                            </div>
                            <div class="contact-last-message">
                                {{lastMessage(index)}}
                            </div>
                        </div>
                        <!-- /.contact-info -->

                        <div class="contact-last-access">
                            {{DateTime.fromFormat(lastAccess(index), 'dd/MM/yyyy HH:mm:ss').toFormat('HH:mm')}}
                        </div>
                        <!-- /.contact-last-access -->
                    </div>
                    <!-- /.contact -->
                </template>

            </div>
            <!-- /.contact-list-contacts -->
        </div>
        <!-- /.left -->


        <div class="right">

            <template v-for="(contact,index) in contacts">
                <template v-if="contact.displayChat === true">

                    <div class="chat-header">

                        <div class="chat-speaker-image">
                            <img :src="contact.avatar" alt="">
                        </div>
                        <!-- /.chat-speaker-image -->

                        <div class="chat-speaker-info">

                            <div class="speaker-name">
                                {{contact.name}}
                            </div>
                            <!-- /.speaker-name -->

                            <div class="speaker-last-access-info">
                                Ultimo accesso oggi alle {{DateTime.fromFormat(lastAccess(index), 'dd/MM/yyyy HH:mm:ss').toFormat('HH:mm')}}
                            </div>
                            <!-- /.last-access-info -->
                        </div>
                        <!-- /.chat-speaker-info -->

                        <div class="chat-speaker-utilities">
                            <div>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div>
                                <i class="fa-solid fa-paperclip"></i>
                            </div>
                            <div>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- /.chat-speaker-utilities -->
                    </div>
                    <!-- /.chat-header -->

                    <div class="chat-box">

                        <div class="wrapper">

                            <div class="message"
                                :class="{sent: message.status === 'sent', received: message.status === 'received'}"
                                v-for="(message,msgId) in contact.messages">

                                <div class="message-text">
                                    {{message.text}}
                                </div>
                                <!-- /.message-text -->

                                <div class="message-utilities">

                                    <i class="fa-solid fa-chevron-down"></i>

                                    <div class="message-utilities-menu">

                                        <div>
                                            Info messaggio
                                        </div>

                                        <div @click="remove(index,msgId)">
                                            Cancella messaggio
                                        </div>
                                    </div>
                                </div>
                                <!-- /.message-utilities -->

                                <div class="message-time">
                                    {{DateTime.fromFormat(messageDate(index,msgId), 'dd/MM/yyyy HH:mm:ss').toFormat('HH:mm')}}
                                </div>
                                <!-- /.message-time -->
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.wrapper -->
                    </div>
                    <!-- /.chat-box -->

                    <div class="chat-input">

                        <div class="emoticons">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <!-- /.text-emoticons -->

                        <div class="text-area">
                            <input type="text" v-model="messageText" placeholder="Scrivi un messaggio"
                                @keyup.enter="sendMessage(index, messageText); sendDefeaultReply(index)">
                        </div>
                        <!-- /.text-area -->

                        <div class="vocal">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                        <!-- /.text-vocal -->
                    </div>
                    <!-- /.chat-text -->
                </template>
                <!-- /template v-if-->
            </template>
            <!-- /template v-for-->
        </div>
        <!-- /.right -->
    </div>
    <!-- /.app -->


    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>